@model IEnumerable<damacana.Models.Product>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<h2>Products</h2>
<br />
<a class="btn btn-default" href="@Url.Action("AddProduct")">Add Product</a>
<br />
<br />


@foreach (damacana.Models.Product p in Model)
{
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@p.Name - @p.Price ₺</h3>
            </div>
            <div class="panel-body">
                <center>
                    <img src="http://www.inciticaret.com/images/quick-damacana-pompasi-1.jpg">
                    <br>
                    <br>
                    <a class="btn btn-warning" href="@Url.Action("EditProduct", new { id = p.Id })"><b>Edit</b></a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteProduct", new { id = p.Id })"><b>Delete</b></a>
                    <a class="btn btn-default" href="@Url.Action("AddtoCart", new { id = p.Id })">Add to cart &nbsp; </a>
                </center>
            </div>
        </div>
    </div>
}
